@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.clear-fix{
    clear: both;
}
.clear-fix::after{
    display: block;
    content: "";
    clear: both;
}

/* Typography */

h1{
    font-size: 2rem;
    line-height: 2.2rem;
}

h2{
    font-size: 1.8rem;
    line-height: 2.0rem;
}

h3{
    font-size: 1.6rem;
    line-height: 1.8rem;
}

h4{
    font-size: 1rem;
    line-height: 1.2rem;
}

h5{
    font-size: 0.9rem;
    line-height: 1.1rem;
}

h6{
    font-size: 0.8rem;
    line-height: 1rem;
}

/* layout */

#app-row{

  
    height: 80px;
    /* width: 1170px;
    margin-left: auto;
    margin-ri: auto; */
}
#nav-row{
    background-color: #231f20;
}
#misc-row{
    background-color: #ffde00;
   
}
.container{
    width: 1170px;
    margin: 0 auto;
}
#app-row .container{

    height: 100%;
    padding: 10px 0;
}
#logo{
    height: 60px;
    float:left ;
   
}
#app-row>.container>.wrapper{
    float: right;

    height: 100%;
}
#app-row>.container>.wrapper>.row:first-child{

    height: 50%;
}
#app-row>.container>.wrapper>.row:last-child{
    
    height: 50%;
}
#nav-lang{
    float :left ;
    padding-top: 3px;
   
}
#mis-icon{
    float: right;
   
}
#nav-lang li{
    float: left;
    list-style-type:none;
    margin-left: 20px;
}

#nav-lang{
    float: right;
}
nav>li>a{
    font-size: 0.8rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#nav-lang>li>a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #ff9d1e;
   
  
}
#main-nav{
   
    float: left;
    list-style-type:none;
    padding-top: 5px;
 
}
#main-nav li{
    float: left;
    margin-right: 25px;
    font-size: 0.8rem;
}
#main-nav li:hover>a{
    text-decoration: underline;
    cursor: pointer;
}
#smi-icon{
    
    float: right;
}
#smi-icon ul li{
    float: left;
    margin-left: 10px;
    font-size: 1.5rem;
   
}
#smi-icon ul li>a{
    color: white;
}
#smi-icon ul li:first-child{
   
    background-color: rgb(63, 77, 161);
}
#smi-icon ul li:nth-child(2){
    background-color: rgb(87, 160, 215);
}
#smi-icon ul li:nth-child(3){
    background-color: rgb(87, 160, 215);
}
#smi-icon ul li:last-child{
    background-color: rgb(215, 69, 39);
}
#nav-row .container nav {
    padding-top: 15px;
    padding-bottom: 15px;
}
#nav-row .container nav li{
    float: left;
    padding-right: 15px;
    list-style-type:none;
    color: white;
}
#nav-row nav li a{

}



#nav-row nav li a:hover{
    background-color: #ff9d1e;
    color: black;
    text-decoration: none;
}


#nav-row nav li a:hover::after{
    position :absolute;
    display: block;
   
    border-top: 6px solid black;
    border-left: 6px solid black;
    border-right: 6px solid black;
    left :50;
    transform: translateX(-50%);
    top: 100%;
}
#misc-row>div button{
    border-bottom: 2px solid #0f027b;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    height: 40px;
    border-radius: 4px;
    background-color: #107ece;
    color: white;
   
}
#misc-row>div{
    text-align: right;
}
#misc-row>div button:hover{
    background-color: #0865a9;
}