@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.clear-fix{
    clear: both;
}
.clear-fix::after{
    display: block;
    content: "";
    clear: both;
}

/* Typography */

h1{
    font-size: 2rem;
    line-height: 2.2rem;
}

h2{
    font-size: 1.8rem;
    line-height: 2.0rem;
}

h3{
    font-size: 1.6rem;
    line-height: 1.8rem;
}

h4{
    font-size: 1rem;
    line-height: 1.2rem;
}

h5{
    font-size: 0.9rem;
    line-height: 1.1rem;
}

h6{
    font-size: 0.8rem;
    line-height: 1rem;
}

/* layout */

#app-row{

  
    height: 80px;
    /* width: 1170px;
    margin-left: auto;
    margin-ri: auto; */
}
#nav-row{
    background-color: #231f20;
}
#misc-row{
    background-color: #ffde00;
   
}
.container{
    width: 1170px;
    margin: 0 auto;
}
#app-row .container{

    height: 100%;
    padding: 10px 0;
}
#logo{
    height: 60px;
    float:left ;
   
}
#app-row>.container>.wrapper{
    float: right;

    height: 100%;
}
#app-row>.container>.wrapper>.row:first-child{

    height: 50%;
}
#app-row>.container>.wrapper>.row:last-child{
    
    height: 50%;
}
#nav-lang{
    float :left ;
    padding-top: 3px;
   
}
#mis-icon{
    float: right;
   
}
#nav-lang li{
    float: left;
    list-style-type:none;
    margin-left: 20px;
}

#nav-lang{
    float: right;
}
nav>li>a{
    font-size: 0.8rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#nav-lang>li>a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #ff9d1e;
   
  
}
#main-nav{
   
    float: left;
    list-style-type:none;
    padding-top: 5px;
 
}
#main-nav li{
    float: left;
    margin-right: 25px;
    font-size: 0.8rem;
}
#main-nav li:hover>a{
    text-decoration: underline;
    cursor: pointer;
}
#smi-icon{
    
    float: right;
}
#smi-icon ul li{
    float: left;
    margin-left: 10px;
    font-size: 1.5rem;
   
}
#smi-icon ul li>a{
    color: white;
}
#smi-icon ul li:first-child{
   
    background-color: rgb(63, 77, 161);
}
#smi-icon ul li:nth-child(2){
    background-color: rgb(87, 160, 215);
}
#smi-icon ul li:nth-child(3){
    background-color: rgb(87, 160, 215);
}
#smi-icon ul li:last-child{
    background-color: rgb(215, 69, 39);
}
#nav-row .container nav {
    padding-top: 15px;
    padding-bottom: 15px;
}
#nav-row .container nav li{
    float: left;
    padding-right: 15px;
    list-style-type:none;
    color: white;
}




#nav-row nav li a:hover{
    background-color: #ff9d1e;
    color: black;
    text-decoration: none;
}


#nav-row nav li a:hover::after{
    position :absolute;
    display: block;
   
    border-top: 6px solid black;
    border-left: 6px solid black;
    border-right: 6px solid black;
    left :50;
    transform: translateX(-50%);
    top: 100%;
}
#misc-row>div button{
    border-bottom: 2px solid #0f027b;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    height: 40px;
    border-radius: 4px;
    background-color: #107ece;
    color: white;
    font-size: 0.65rem;
   
}
#misc-row>div{
    text-align: right;
}
#misc-row>div button:hover{
    background-color: #0865a9;
}


/* 
footer .row{
    background-color: blue;
} */

#copyright-row{
    background-color: #ffde00;
}
#copyright-row>.container{
    padding: 16px 0;
    color: #515254;
    font-size: 0.7rem;
    text-align: center;

}
footer>.row .col{
    width: 25%;
    height: 215px;
    padding-top: 10px;
    float: left;
}

footer>.row .col h4{
    padding-bottom: 16px;
    color: white;
}
footer>.row .col nav li{
    line-height: 1.2rem;
    list-style-type:none;
    color: white;
}
footer>.row .col nav li:hover{
    color: #ffde00;
    cursor: pointer;
}
footer>.row{
    background-color: rgb(81, 82, 84);
}
footer>.row .col p{
    color: white;
    line-height: 1.1rem;
    list-style-type:none;

}
footer>.row .col:last-child{
    
    padding-left: 15px;
    background-color: #171718;
   
}
footer>.row{
    position: relative;
    z-index: 0;
}
footer>.row::after{
    content: "";
    display: block;
    height: 100%;
    background-color: #171718;
    position: absolute;
    width: 25%;
    top: 0;
    right: 0;
    z-index: -1;
    
}
aside{
    position: fixed;
    background-color: rgb(0, 0, 0);
    display: inline-block;
    padding: 5px 5px 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transform: rotate(270deg);
    right: -38px;
    z-index: 99999;

}
aside a{
    text-decoration: none;
    color: white;
  

}
aside a ion-icon{
    color: rgb(0, 0, 0);
    font-size: 25px;
    padding-right: 20px;
    vertical-align: middle;

}
#bubble-wrapper{
    display: inline-block;
    background-color: yellowgreen;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    padding: 5px;
    position: relative;
}
aside:hover{
    right: -31px;
}
#bubble-wrapper::before{
    display:block;
    content: "";
    background-color: rgba(252, 235, 8, 0.24);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transform: translate(-50%,-50%);
    z-index: 1;
    border-radius: 100%;
    width: 5px;
    height: 5px;
    animation-name: wave;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}
@keyframes wave{
    0%{
        transform: scale(0);
        opacity: 1;
    }
    to{
        transform: scale(15);
        opacity: 0.5;
    }

}
/* Main */

main>.row:first-child,
main>.row:first-child>.container{
    height: 90px;
}

main>.row:first-child>.container>.col{
    padding: 20px 10px 0;
    height: 100%;
}

main>.row:first-child>.container>.col:first-child{
    /* background-color: red; */
    width: 75%;
    float: left;
}

main>.row:first-child>.container>.col:first-child>ul li{
    width: 20%;
    float: left;
    text-align: right;
}

main>.row:first-child>.container>.col:first-child>ul li h3{
    font-size: 18px;
    padding: 10px 0;
}

main>.row:first-child>.container>.col:first-child>ul li a{
    color: black;
    text-decoration: none;
    display: inline-block;
}

main>.row:first-child>.container>.col:first-child>ul li a:hover{
    text-decoration: underline;
}

main>.row:first-child>.container>.col:first-child>ul li a img{
    border: 3px solid transparent;
}

main>.row:first-child>.container>.col:first-child>ul li a:hover img{
    border: 3px solid #ffde00;
}

main>.row:first-child>.container>.col:first-child>ul li .country-code{
    display: block;
   
    text-align: center;
    font-size: 0.7rem;
}

main>.row:first-child>.container>.col:last-child{
    /* background-color: blue; */
    width: 25%;
    float: right;
}

